<ion-view title="Welcome">
    <ion-nav-bar class="bar-positive" animation="no-animation">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon sidemenu-button" ng-click="sideMenu.toggle()">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        Home page content
    </ion-content>
</ion-view>