<div class="menu menu-left" on-swipe="onSideMenuSwipe($event)">
    <ion-content has-bouncing="false">
        <div class="button-bar">
            <a class="button-positive header-height button-custom" ng-click="sideMenu.hide()" ng-class="{ 'header-top-ios' :  checkIos() }">
                <i class="button button-clear ion-navicon font-custom"></i>
            </a>
        </div>
        <ul class="list">
            <!-- Note each link has the 'ng-click="sideMenu.hide()"' attribute so the menu auto closes when clicking on one of these links -->
            <a href="#/" class="item" ng-click="sideMenu.hide()">Home</a>
            <a href="#/link1" class="item" ng-click="sideMenu.hide()">Link 1</a>
            <a href="#/link2" class="item" ng-click="sideMenu.hide()">Link 2</a>
        </ul>
    </ion-content>
</div>